* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/**box-2**/
.add-first {
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/**box 3**/
.nav-search {
    display: flex;
    align-items: center;
    background-color: pink;
    width: 625px;
    height: 18px;
    border-radius: 4px;
    overflow: hidden;

}

.nav-search:hover {
    border: 2px solid orangered;
}

.search-select {
    width: 60px;
    background-color: #f3f3f3;
    height: 40px;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 0.85rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 40px;
    background-color: rgb(255, 196, 21);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #0f1111;
}

/**box4**/
span {
    font-size: 0.7rem;

}

.nav-second {
    font-size: 0.85;
    font-weight: 700;

}

/** box6**/
.nav-cart i {
    font-size: 25px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/**panel**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    /*vertically*/
    justify-content: space-evenly;
}

.panel-option p {
    display: inline;
}

.panel-option {
    width: 70%;
    font-size: 0.85rem;
    margin-left: 10px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 300;
}

.border:hover {
    border: 1.5px solid white;
}

/**hero section**/
.hero-section {
    background-image: url("hero_image.jpg");
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-messages {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.67rem;
    margin-bottom: 25px;
    width: 80%;

}

.hero-messages a {
    color: #007185;
}

/**shop section**/
.shop-section {
    display: flex;
    /*4 ro box same line*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #e2e7e6;
}

.box {
    /*border: 1px solid black;*/
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content h2 {
    font-size: 0.85rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 10px;
}

.foot-panel1 {
    background-color: #05263b;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 100%;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    /*parent*/
    justify-content: space-evenly;

}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    margin-top: 5px;
    /* single line*/
    font-size: 0.85rem;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    
    height: 80px;
    width: 100%;
    padding-left: 5px;
    text-align: center;
}

.pages {
    font-size: 0.7rem;
    padding-left: 25px;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;
}